.article-heading {
  padding: 1.4rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.2rem;
  list-style-type: none;
  padding: 0;
}

.article-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.article-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.article-exit {
  opacity: 1;
  transform: translateY(0);
}

.article-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 500ms, transform 500ms;
}

@media (min-width: 768px) {
  .article-heading {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .article-heading {
    padding: 2rem 0;
    font-size: 2rem;
  }
  .articles-list {
    gap: 2rem;
  }
}
