.article-heading {
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}
