.article-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
  &:hover {
    color: #181818;
    .article-image {
      filter: grayscale(0);
    }
    .article-abstract {
      color: #333;
    }
  }
}

.article-image-container {
  position: relative;
  display: flex;
}

.article-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 0.3s ease;
}

.article-title {
  margin: 0.5rem 0 0.7rem;
  font-size: 1.1rem;
}

.article-abstract {
  color: #7a7a7a;
}

.article-byline {
  margin: 0.7rem 0 0.5rem;
  font-weight: 500;
  color: #4b4b4b;
}

.article-date {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.tags {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
  &:empty {
    display: none;
  }
}

@media (min-width: 768px) {
  .article-title {
    font-size: 1.17em;
  }
}
