.header {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1rem;
  margin: 0 auto;
  text-align: center;
}

.main-heading {
  text-align: center;
  width: 16rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .main-heading {
    width: 20rem;
  }
}

@media (min-width: 992px) {
  .main-heading {
    width: 25rem;
  }
  .header {
    padding: 3rem 0;
  }
}

@media (min-width: 1024px) {
  .main-heading {
    width: 30rem;
  }
}
