.pagination {
  margin: 2.5rem 0;
  text-align: center;
}

.pagination .btn {
  margin: 0 0.25rem;
  padding: 0.8rem 1rem;
  border: none;
  background-color: #6a6a6a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .btn.active {
  background-color: #333;
  cursor: not-allowed;
}

.pagination .btn:hover {
  background-color: #181818;
}

@media (min-width: 992px) {
  .pagination {
    margin: 4rem 0;
  }
}
